@import "_normalize";

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/livvic_trans/Livvic-Bold.eot');
  src: url('Livvic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/livvic_trans/Livvic-Bold.woff') format('woff'),
    url('../fonts/livvic_trans/Livvic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/livvic_trans/Livvic-Medium.eot');
  src: url('Livvic-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/livvic_trans/Livvic-Medium.woff') format('woff'),
    url('../fonts/livvic_trans/Livvic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/livvic_trans/Livvic-Black.eot');
  src: url('Livvic-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/livvic_trans/Livvic-Black.woff') format('woff'),
    url('../fonts/livvic_trans/Livvic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/livvic_trans/Livvic-Regular.eot');
  src: url('Livvic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/livvic_trans/Livvic-Regular.woff') format('woff'),
    url('../fonts/livvic_trans/Livvic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/livvic_trans/Livvic-SemiBold.eot');
  src: url('Livvic-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/livvic_trans/Livvic-SemiBold.woff') format('woff'),
    url('../fonts/livvic_trans/Livvic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

$midnightGreen: #014E56;
$lightcoral: #F67E7E;
$darkGreen: #002529;
$sacramento: #012F34;

body {
  font-family: 'Livvic';
}

%transition {
  transition: all ease 0.5s;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 1140px;

  @media only screen and (max-width:768px) {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 720px;
  }

  @media only screen and (max-width:576px) {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 540px;
  }

}


.hero-section {
  background-color: $midnightGreen;
  background-repeat: no-repeat;
  background-image: url(../images/bgi-1.svg);
  background-position: right bottom;

  @media only screen and (max-width:576px) {
    background-size: 100px 200px;
    background-position: right 440px;
  }

}

.header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  &-left {

    display: flex;
    align-items: center;

    .header-left__logo {
      width: 159.95px;
      height: 40px;
    }

  }

  &-nav {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    color: #FFFFFF;
    padding: 20px;
    @extend %transition;

    @media only screen and (max-width:576px) {
      display: none;
    }

    &:hover {
      color: $lightcoral;
    }
  }

  &-nav.nav--first {
    padding: 83px 20px 83px 80px;

    @media only screen and (max-width:768px) {
      padding: 72px 20px 72px 48px;
    }
  }

  @media only screen and (max-width:576px) {
    padding: 48px 0;
    margin-bottom: 32px;
  }

}

.button.button--primary {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  border: 2px solid #FFFFFF;
  padding: 10px 32px;
  border-radius: 24px;
  color: #FFFFFF;
  @extend %transition;

  @media only screen and (max-width:576px) {
    display: none;
  }

  &:hover {
    background-color: #fff;
    color: $darkGreen;
  }
}

.hero-section-center {
  display: flex;
  justify-content: space-between;
  padding-bottom: 255px;

  @media only screen and (max-width:768px) {
    flex-direction: column;
    padding-bottom: 112px;
  }

  @media only screen and (max-width:576px) {
    flex-direction: column;
    padding-bottom: 120px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;

    @media only screen and (max-width:768px) {
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 56px;
      text-align: center;
      margin-bottom: 24px;
      color: #FFFFFF;
    }

    @media only screen and (max-width:576px) {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 16px;
      color: #FFFFFF;
    }

  }

  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    width: 735px;
    color: #FFFFFF;
    padding-top: 79px;
    position: relative;



    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      height: 4px;
      width: 50px;
      background-color: $lightcoral;
    }

    @media only screen and (max-width:768px) {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 28px;
      text-align: center;
      padding-top: 0;
      width: 457px;
      margin-left: auto;
      margin-right: auto;
      color: #FFFFFF;

      &::before {
        content: none;
      }
    }

    @media only screen and (max-width:576px) {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 28px;
      text-align: center;
      width: 330px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0;
      color: #FFFFFF;

      &::before {
        content: none;
      }
    }

  }

}

.section-2 {
  background-color: #004047;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-image: url(../images/sec-2-1.svg), url(../images/sec-2-2.svg);


  @media only screen and (max-width:576px) {
    background-size: 100px 200px, 147px 100px;
    background-position: left -100px, right bottom;
  }



  &-inner {
    padding: 140px 0 100px 0;

    @media only screen and (max-width:768px) {
      padding: 100px 83px;
    }

    @media only screen and (max-width:576px) {
      padding: 88px 0;
    }

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      text-align: center;
      margin-bottom: 64px;
      color: #FFFFFF;

      @media only screen and (max-width:576px) {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 48px;
        color: #FFFFFF;
      }

    }
  }

}

.card {
  background: #012F34;
  width: 350px;
  padding: 32px 0 26px 0;
  margin-bottom: 48px;

  &.card--tablet {
    display: none;

    @media only screen and (max-width:768px) {
      display: block;
    }

    @media only screen and (max-width:576px) {
      display: none;
    }
  }

  &.card--none {
    @media only screen and (max-width:768px) {
      display: none;
    }
  }

  @media only screen and (max-width:768px) {
    width: 48.5%;
  }

  @media only screen and (max-width:576px) {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
  }


  &__top {
    text-align: center;
    margin-bottom: 16px;
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 5px;
    color: #79C8C7;
  }

  &__info {
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
  }

  &__bottom {
    background: #F67E7E;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: -55px;
    @extend %transition;

    &:hover {
      background-color: #79C8C7;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-image: url(../images/plus.svg);
    }
  }

  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    color: #FFFFFF;
    margin-bottom: 24px;
  }

  &__social {
    text-align: center;
    margin-bottom: 35px;
  }

  &-nav.nav--twit {
    margin-right: 16px;
  }

  &__bottom.bottom--blue {
    background: #79C8C7;

    &:hover {
      background-color: $lightcoral;
    }

    &::before {
      transform: rotate(45deg);
    }
  }


}

.plus {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.card-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-3 {
  background-color: $sacramento;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url(../images/sc-3.svg);

  @media only screen and (max-width:768px) {
    background-position: 0 -100px;
  }

  @media only screen and (max-width:576px) {
    background-position: -100px -100px;
  }


  &-inner {
    padding: 140px 0 151px 0;

    @media only screen and (max-width:768px) {
      padding: 100px 20px;
      box-sizing: border-box;
    }

    @media only screen and (max-width:576px) {
      padding: 88px 0;
    }

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      text-align: center;
      margin-bottom: 64px;
      color: #FFFFFF;

      @media only screen and (max-width:576px) {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
      }

    }
  }



}

.sponsors-block {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width:576px) {
    flex-direction: column;
  }

  .sponsors__img {

    &:last-child {
      margin-bottom: 0;
    }

    @media only screen and (max-width:768px) {
      width: 103px;
      height: 24px;
      display: inline-block;
    }

    @media only screen and (max-width:576px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }

  }

}

.section4 {
  background-color: $lightcoral;
  background-repeat: no-repeat;
  background-image: url(../images/bgi-4.svg);
  background-position: left bottom;

  @media only screen and (max-width:768px) {
    background-size: 150px 110px;
  }

  @media only screen and (max-width:576px) {
    background-position: 0 195px;
  }


  &-inner {
    padding: 76px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width:768px) {
      justify-content: center;
      padding: 76px 80px;
    }

    @media only screen and (max-width:576px) {
      flex-direction: column;
      padding: 83px 0;
    }

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      color: #012F34;

      @media only screen and (max-width:768px) {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        margin-right: 54px;
        color: #012F34;
      }

      @media only screen and (max-width:576px) {
        width: 350px;
        text-align: center;
        margin-bottom: 24px;
      }

    }
  }


  .button.button--secondary {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border: 2px solid #012F34;
    padding: 10px 32px;
    @extend %transition;
    border-radius: 24px;
    color: #012F34;

    &:hover {
      color: #fff;
      background: #012F34;
      border: 2px solid #012F34;
      border-radius: 24px;
    }
  }

}

.footer {
  background-color: #002529;

  &-inner {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
  }

  &-logo {
    margin-bottom: 25px;
  }

  &-nav {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    @extend %transition;

    &:hover {
      color: $lightcoral;
    }

    &.nav--home {
      margin-right: 40px;
    }
  }

  &-social {
    text-align: right;
    margin-bottom: 51px;

    &-link {
      margin-right: 16px;
    }

    &-link.link--none {
      margin-right: 0;
    }
  }

  &-bottom {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
  }


  &-left {
    display: flex;

    &__links {
      margin-right: 125px;
    }
  }

  &-info {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    width: 180px;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
}

.footer {
  background-color: #002529;

  &-inner {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;

    @media only screen and (max-width:768px) {
      flex-direction: column;
      padding: 56px 24px;
    }

    @media only screen and(max-width:576px) {
      flex-direction: column;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 65px 0;
    }

  }

  &-logo {
    margin-bottom: 25px;
  }

  &-nav {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    @extend %transition;

    @media only screen and(max-width:576px) {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      color: #FFFFFF;
    }

    &:hover {
      color: $lightcoral;
    }

    &.nav--home {
      margin-right: 40px;
    }
  }

  &-social {
    text-align: right;
    margin-bottom: 51px;

    @media only screen and (max-width:768px) {
      margin-bottom: 0;
    }

    @media only screen and(max-width:576px) {
      text-align: center;
      margin-bottom: 16px;
    }

    &-link {
      margin-right: 16px;
      fill: white;

      &:hover {
        fill: #38529A;
      }
    }

    &-link.link--path:hover {
      fill: red;
    }

    &-link.link--none {
      margin-right: 0;

      &:hover {
        fill: #03A4EC;
      }
    }
  }

  &-bottom {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  &-right {

    display: flex;
    flex-direction: column;

    @media only screen and (max-width:768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    @media only screen and (max-width:576px) {
      flex-direction: column;
    }

  }


  &-left {
    display: flex;

    @media only screen and (max-width:768px) {
      justify-content: space-between;
      margin-bottom: 34px;
    }

    @media only screen and(max-width:576px) {
      flex-direction: column;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    &__links {
      margin-right: 125px;

      @media only screen and(max-width:576px) {
        margin-right: 0;
        margin-bottom: 24px;
      }

    }
  }

  &-info {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    width: 180px;
    mix-blend-mode: normal;
    opacity: 0.6;

    @media only screen and (max-width:768px) {
      text-align: right;
    }

    @media only screen and(max-width:576px) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

  }
}

.overlay {
  width: 100%;
  height: 0;
  background: #014E56;
  position: relative;
  z-index: 4;
}

.overlay.opened {
  height: 100%;
}

.burger {
  display: none;

  @media only screen and(max-width:576px) {
    display: block;
    z-index: 199;
  }

  &__line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.opened {
    transition: all ease 0.5s;
  }

  &.opened &__line:first-child {
    height: 25px;
    width: 2.4px;
    transform: rotate(36deg) translate(31px, 5px);
    transform-origin: left top;
    transition: all ease 0.5s;
  }

  &.opened &__line:nth-child(2) {
    visibility: hidden;
  }

  &.opened &__line:last-child {
    height: 25px;
    width: 2.4px;
    transform: rotate(-36deg) translate(29px, -2px);
    transform-origin: right bottom;
    transition: all ease 0.5s;
  }

}

body.no_scroll {
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  margin: auto;
  height: 0;
  z-index: 1;
  transition: all ease 0.5s;
  background: #014E56;
  opacity: 0.6;

  @media only screen and(max-width:576px) {
    display: block;
  }

  &.visible {
    height: 100%;
    width: 100%;
  }
}

.mobile-menu {
  position: absolute;
  z-index: 2;
  background-color: #2C6269;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: all ease 0.5s;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: url(../images/mobile.svg);
  background-repeat: no-repeat;
  background-position: right bottom;

  .footer-nav.nav--home {
    margin-bottom: 24px;
  }

  &.fixed {
    width: 278px;
    height: 100%;
    padding: 120px 48px 0 48px;
  }

  &.fixed .button.button--primary {
    display: inline-block;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    text-align: center;
    padding: 10px 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-top: 36px;
  }

}